{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1 class="text-light">User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th class="text-light">Id</th>
                <td class="text-light">{{ user.id }}</td>
            </tr>
            <tr>
                <th class="text-light">Email</th>
                <td class="text-light">{{ user.email }}</td>
            </tr>
                <th class="text-light">Password</th>
                <td class="text-light">{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
